@import "tailwindcss";

@theme {
  --animate-fadein: fadein 0.7s ease-in-out;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-carousel: carousel 30s linear infinite;
  @keyframes carousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    } /* reverse면 50%로 */
  }
}

:root {
  --font-sans: "Noto Sans KR", "Noto Sans", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Apple SD Gothic Neo", "Noto Sans CJK KR",
    "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "본고딕", sans-serif;
}
html,
body {
  font-family: var(--font-sans);
}
